.MyModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.MyModalContent {
  /* padding: 25px; */
  background-color: #0ea5e9;
  border-radius: 20px;
  width: 750px;
}
.MyModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
