.menu {
  margin: 0;
  padding: 0;
  margin: 14px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu__block-clock {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: url("https://pngroyale.com/wp-content/uploads/2022/03/Vector-Clock-PNG-Image.png"),
    url("https://freepngimg.com/thumb/logo/69920-logo-sticker-paper-king-free-png-hq-thumb.png"),
    radial-gradient(
      circle,
      rgb(0, 0, 0) 4%,
      rgb(50, 4, 255) 18%,
      rgb(255, 255, 255) 38%
    );
  background-size: contain, 50%;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5),
    -5px 5px 5px 5px rgba(41, 75, 187, 0.5),
    5px -5px 5px 5px rgba(41, 75, 187, 0.5);
}
.Menu__block-clock::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgb(16, 16, 19);
  z-index: 999;
}

.Menu__block-clock--hour {
  position: absolute;
  width: 350px;
  height: 350px;
  margin-right: 14px;
}
.Menu__block-clock--minute {
  position: absolute;
  width: 40px;
  height: 400px;
  margin-left: 10px;
}
.Menu__block-clock--second {
  position: absolute;
  width: 500px;
  height: 500px;
}
.Menu__block-clock--hour,
.Menu__block-clock--minute,
.Menu__block-clock--second {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  /* margin-right: 15px; */
}
#hour::before {
  content: "";
  width: 14px;
  height: 200px;
  background-color: rgb(41, 187, 41);
  position: absolute;
  z-index: 11;
  border-radius: 3px 3px 0 0;
}
#minute::before {
  content: "";
  width: 10px;
  height: 250px;
  background-color: rgb(14, 50, 168);
  position: absolute;
  z-index: 13;
}
#second::before {
  content: "";
  width: 4px;
  height: 350px;
  background-color: rgb(187, 41, 175);
  position: absolute;
  border-radius: 3px 3px 0 0;
  z-index: 14;
}
